@import url(_variants.css);

.container {
    padding: 0 var(--espacamentos-laterais);
}

body {
    display: grid;
    grid-template-rows: 80px auto auto;
    grid-template-areas: "cabecalho"
                        "conteudo"
                        "rodape";

    font-family: var(--font-roboto);

    color: var(--preto);

    background-color: var(--cor-de-fundo);
}

.font-banner {
    color: var(--prata);
    font-size: 20px;
    font-weight: 700;
}

/* CSS para as caixas de conteúdo */

.secao__boxes {
    display: grid;
    grid-template-rows: 44px 30rem;
    grid-template-areas: "title"
                        "conteudo";
    
    padding-bottom: 2rem;
}

.secao__title {
    grid-area: title;
}

.boxes {
    --tamanho-colunas: 20fr;
    grid-area: conteudo;
    display: grid;
    grid-template-columns: var(--tamanho-colunas) var(--tamanho-colunas) var(--tamanho-colunas) var(--tamanho-colunas) var(--tamanho-colunas);
    grid-template-areas: "box-um box-dois box-tres box-quatro box-cinco";
    column-gap: var(--boxes-gap);
}

.box__um {
    grid-area: box-um;
}

.box__dois {
    grid-area: box-dois;
}

.box__tres {
    grid-area: box-tres;
}

.box__quatro {
    grid-area: box-quatro;
}

.box__cinco {
    grid-area: box-cinco;
}

.box {
    display: grid;
    grid-template-rows: 30% 70%;
    grid-template-areas: "img"
                        "content";
    box-sizing: border-box;
}

/* Imagens das boxes */

.image__box {
    grid-area: img;
    width: 100%;
}


/* seção jogos__populares */

.jogos__populares 
.box:nth-child(1) >
.image__box {
    background: url(../../img/slack.png) center / cover no-repeat;
}

.jogos__populares 
.box:nth-child(2) >
.image__box {
    background: url(../../img/whatsapp.png) center / cover no-repeat;
}

.jogos__populares 
.box:nth-child(3) >
.image__box {
    background: url(../../img/telegram.jpeg) center / cover no-repeat;
}

.jogos__populares 
.box:nth-child(4) >
.image__box {
    background: url(../../img/trello.jpg) center / cover no-repeat;
}

.jogos__populares 
.box:nth-child(5) >
.image__box {
    background: url(../../img/skype.png) center / cover no-repeat;
}

/* seção em__destaque */

.em__destaque 
.box:nth-child(1) >
.image__box {
    background: url(../../img/slack.png) center / cover no-repeat;
}

.em__destaque 
.box:nth-child(2) >
.image__box {
    background: url(../../img/whatsapp.png) center / cover no-repeat;
}

.em__destaque 
.box:nth-child(3) >
.image__box {
    background: url(../../img/telegram.jpeg) center / cover no-repeat;
}

.em__destaque 
.box:nth-child(4) >
.image__box {
    background: url(../../img/trello.jpg) center / cover no-repeat;
}

.em__destaque 
.box:nth-child(5) >
.image__box {
    background: url(../../img/skype.png) center / cover no-repeat;
}

/* seção lancamentos */

.lancamentos 
.box:nth-child(1) >
.image__box {
    background: url(../../img/slack.png) center / cover no-repeat;
}

.lancamentos 
.box:nth-child(2) >
.image__box {
    background: url(../../img/whatsapp.png) center / cover no-repeat;
}

.lancamentos 
.box:nth-child(3) >
.image__box {
    background: url(../../img/telegram.jpeg) center / cover no-repeat;
}

.lancamentos 
.box:nth-child(4) >
.image__box {
    background: url(../../img/trello.jpg) center / cover no-repeat;
}

.lancamentos 
.box:nth-child(5) >
.image__box {
    background: url(../../img/skype.png) center / cover no-repeat;
}

/* Conteúdo da box */

.content__box {
    grid-area: content;
    display: grid;
    grid-template-rows: 10fr 10fr 80fr;
    grid-template-areas: "title"
                        "date"
                        "content";
    background: var(--branco);
    padding: 2rem 1rem;
}

.content__box-title {
    grid-area: title;
    font-size: 2rem;
    font-weight: 900;
}

.content__box-date {
    grid-area: date;
    color: var(--cinza);
}

.content__box-text {
    grid-area: content;

    text-align: justify;
    line-height: 21px;
}